<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Musicality - {{ title }}</title>
    {% else %}
        <title>Musicality</title>
    {% endif %}

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top app-bar">
        <div class="container">
          <div class="leading-icon">
            <div class="state-layer">
              <img class="icon-layout" src="{{ url_for('static', filename='logo.png')  }}">
            </div>
          </div>
          <div class="headline-div">
            <a class="headline" href="/">ODEUM</a>
          </div>
          <div class="leading-icon account-modal-btn">
            <div class="state-layer">
              <a class="icon-layout" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.5C6.48 2.5 2 6.98 2 12.5C2 18.02 6.48 22.5 12 22.5C17.52 22.5 22 18.02 22 12.5C22 6.98 17.52 2.5 12 2.5ZM18.36 17.33C16.93 15.59 13.46 15 12 15C10.54 15 7.07 15.59 5.64 17.33C4.62 15.99 4 14.32 4 12.5C4 8.09 7.59 4.5 12 4.5C16.41 4.5 20 8.09 20 12.5C20 14.32 19.38 15.99 18.36 17.33ZM8.5 10C8.5 8.06 10.06 6.5 12 6.5C13.94 6.5 15.5 8.06 15.5 10C15.5 11.94 13.94 13.5 12 13.5C10.06 13.5 8.5 11.94 8.5 10Z" fill="#49454F"/>                    
                </svg>
              </a>
            </div>
          </div>
          <div class="leading-icon">
            <div class="state-layer">
              <a class="icon-layout" href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3 8.5V6.5H21V8.5H3ZM3 13.5H21V11.5H3V13.5ZM3 18.5H21V16.5H3V18.5Z" fill="#49454F"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- 드롭다운 시 보여질 태그 -->
    <div class="account-modal" id="accountModal">
      <div class="account-modal-content">
        {% if current_user.is_authenticated %}
          <span class="close-profile" onclick="closeModal()">&times;</span>
          <img class="profile-img" style="border-radius: 48px; background: lightgray 50% / cover no-repeat; ;" src="{{ url_for('static', filename=image_file) }}">
          <h3 class="profile-user">Welcome! {{ current_user.username }}</h3>
          <hr style="width: 246px; height: 1px; background: #000;">
          <div class="profile-features">
            <a href="{{ url_for('users.logout') }}">Log out</a>
            <a href="{{ url_for('users.mypage') }}">My Profile</a>
            <a href="">Help Center</a>
          </div>
        {% else %}
          <div>
            <span class="close-profile" onclick="closeModal()">&times;</span>
            <svg class="profile-img" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
              <g clip-path="url(#clip0_32_1996)">
                <circle cx="24" cy="24" r="23" fill="#EFEFF0" stroke="#AFB1B6" stroke-width="2"/>
                <circle cx="24" cy="19" r="8" stroke="#AFB1B6" stroke-width="2"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.02344 38.6955C9.16854 33.4442 16.1215 30 23.9996 30C31.8777 30 38.8307 33.4442 42.9758 38.6955C42.5559 39.237 42.1133 39.76 41.6494 40.2632C37.9558 35.3445 31.5288 32 23.9996 32C16.4705 32 10.0435 35.3445 6.34986 40.2632C5.88601 39.76 5.44339 39.237 5.02344 38.6955Z" fill="#AFB1B6"/>
              </g>
              <defs>
                <clipPath id="clip0_32_1996">
                  <rect width="48" height="48" fill="white"/>
                </clipPath>
              </defs>
            </svg>
            <h3 class="profile-user">Please Log in</h3>
          </div>
          <hr style="width: 246px; height: 1px; background: #000;">
          <div>
            <p>
              <a class="profile-features" href="{{ url_for('users.login') }}">Log in / Sign up</a>
            </p>
            <p>
              <a class="profile-features" href="{{ url_for('users.mypage') }}">My Profile</a>
            </p>
            <p>
              <a class="profile-features" href="">Help Center</a>
            </p>
          </div>
        {% endif %}
        <hr style="width: 246px; height: 1px; background: #000;">
        <div class="language-button">
          <a class="language-phrase" href="#">English Version</a>
        </div>
        <div class="start-test-button" >
          <a class=start-test-phrase" href="{{ url_for('questions.test_questions', test_type = 1, audio_file_id=0) }}">Get Test</a>
        </div>
      </div>
    </div>

    <main role="main" class="container" id="main-container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <div id="overlay"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>