{% extends 'layout.html' %}

{% block content %}
  <h2>{{ audio_file.title }}</h2>
  <p>Answer the following questions:</p>

  <!-- Audio Player -->
  <audio controls>
    <!-- need to update path to audio file -->
    <source src="{{ url_for('static', filename='audio/' + audio_file.audio_name) }}" type="audio/wav"> 
    Your browser does not support the audio player. Please consider upgrading to a modern browser.
  </audio>

  <form method="post" action="">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.overall_rating.label }}
      {{ form.overall_rating(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.genre_rating.label }}
      {{ form.genre_rating(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.mood_rating.label }}
      {{ form.mood_rating(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.vocal_timbre_rating.label }}
      {{ form.vocal_timbre_rating(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}